<div class="row">
<div class="col-mid-4"></div>
<div class="col-md-4 text-center">
    <img src="../assets/images/grad.png" class="img-fluid" alt="...">
<h3>Student Details</h3>

<div class="table-responsive">
    <table class="table table-dark table-striped">


        <thead class="table-dark">
            <tr>

                <th>code </th>
                <th>Name </th>
                <th>Dept</th>
                <th>Totalmarks </th>
               
               
            </tr>
            
        </thead>
        <tbody>

            <tr *ngFor="let details of studentDetails">
                <td>{{details["code"]}}</td>
            <td>{{details["name"]}}</td>
            <td>{{details["dept"]}}</td>
            <td>{{details["totalmarks"]}}</td>
          
        <td><button type="button" class="btn btn-outline-light"[routerLink]="['/viewdetails', details.code]">view detail</button></td>
        </tr> 
        </tbody>
    </table>

</div>

</div>

 <div><button class="style"type="submit" (click)="showdata()">SHOWDATA</button></div>
<div class="tbl" *ngFor="let details of html_data">
    
  <table class="table table-dark table-striped">
      <tr>
          <td>Cilentid</td>
          <td>Client Firstname</td>
          <td>BankAcc</td>
          <td>BankName</td>
        
      </tr>
    <tr>
    <td>{{details.Clientid}}</td>
    <td>{{details.ClientFirstNAme}}</td>
    <td>{{details.BankAc}}</td>

    <td>{{details.BankName}}</td>
</tr>
</table>


</div> 
</div>

