.style{
    background-color: aqua;
    margin-top: 425%;
    float: right;
   
    
}
.tbl{
    margin-top: 200px;
    margin-left: 300px;
    margin-right: 700px;
}
.img-fluid{
    width: 60px;
    height: 60px;
}