<h1 class="head"><marquee scrollamount="20">WELCOME TO OUR SERVICES</marquee></h1>
<div class="container">
  <div class="head1">
  
</div>

 <div class="heading"><h3 class="color"style="color:red;"> {{ title | uppercase }} <br/></h3> </div>
  <div class="link1">
    <a routerLink="home" class="btn btn-outline-primary btn-lg">HOME</a>
    <a routerLink="login"class="btn btn-outline-success btn-lg">LOGIN</a>
    <a routerLink="register" class="btn btn-outline-info btn-lg">REGISTER</a>

  </div>
</div>
<router-outlet>
   
</router-outlet>