h1{
    color: #FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}
.color{
    text-align: center;
    font-style: italic;
    font-size: 20px;
    
}
.head1{
    width:100%;
}
.head{
    background-color: brown;
}
