<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>


</head>  <img src="../assets/images/grad.png" class="img-fluid" alt="...">
<body>
	<form action="action_page.php">
		<div class="container">
		  <h1>REGISTER</h1>
		
		  <p>Please fill in this form to create an account.</p>
		  <hr>
	  
		  <label for="email"><b>Name</b></label>
		  <input type="text" placeholder="Enter name" [(ngModel)]="name"name="nme" id="" required>
		  <p>Student name:{{name}}</p>
	  



		  <label for="psw"><b>Age</b></label>
		  <input type="text" placeholder="Enter age" [(ngModel)]="age"name="ag" id="" required>
		  <p>Student age:{{age}}</p>




		  <label for="psw-repeat"><b>Email Id</b></label>
		  <input type="text" placeholder="Enter email id"[(ngModel)]="email" name="mail" id="" required>
		  <p>Student emailid:{{email}}</p>
		  <hr>




		  <label for="psw-repeat"><b>Gender </b></label>
		  <hr>
		  <input type="radio" id="" [(ngModel)]="gender" name="fav_language" value="male">
  <label for="html">Male</label>
  <input type="radio" id="" [(ngModel)]="gender" name="fav_language" value="female">
  <label for="css">Female</label><br>

<p>Gender selected:{{gender}}</p>


		  <label for="psw-repeat"><b>Courses</b></label><br>
		  <hr>
		  <fieldset data-role = "controlgroup" data-type = "horizontal">
            <input type="radio" id="" [(ngModel)]="courses" name="fav_language" value="Bca">
			<label for="html">Bca</label>
		
			

            <input type="radio" id="" [(ngModel)]="courses" name="fav_language" value="Bcom">
			<label for="html">Bcom</label>
		

			<input type="radio" id="" [(ngModel)]="courses" name="fav_language" value="Bba">
			<label for="html">Bba</label>
			<p>Course selected:{{courses}}</p>

		
         </fieldset>
		 


		  
		  <input type="submit" value="REGISTER" class="btn btn-success" (click)="register()">
		</div>
	  




		<div class="container signin">
		  <p>Already have an account? <a href="login">Sign in</a>.</p>
		</div>
	  </form>
</body>
</html>