<div class="container">
    <div class="row">

        <div class="col-4">Register form</div>
        <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">

        </div>
    </div>
</div>
<input type="text" id="account num" placeholder="enter account number"><br>
<input type="text" id="username" placeholder="enter username"><br>
<input type="password" id="password" placeholder="enter password"><br>
<input type="submit" value="Register Here"> 
